{% extends "base.html" %}
{% block content %}
      <div class="main-content container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div style="background:transparent !important" class="jumbotron text-center vertical-center">
          <div class="container">
            <h2 class="jumbotron-heading">Strong password generator</h2>
            <p class="lead text-muted">Your password has been compromised? Generate a new secure one! Our secure algorithm allows you to generate a strong password every minute. If you encounter a problem using this tool, contact <a href="mailto:bouchfor@norzh.nuclea">an administrator</a>.</p>
            <p class="alert alert-primary" id="password">YOUR NEW STRONG PASSWORD IS HERE</p>
            <button type="button" id="generate" class="btn btn-lg btn-outline-primary">Generate</button>
          </div>
        </div>
      </div>
{% endblock %}
{% block additional %}
    <script type="text/javascript">
      $(document).ready(function(){
        function get_user() {
          var url_params = new URLSearchParams(window.location.search);
          return url_params.get('user');
        }

        function get_password(user) {
          if (user.length != 0) {
            $.post('/password', data={"user": user, "ts": Date.now()}, function(password) {
              $("#password").text(password);
            });
          }
        }

        function generate_password() {
          var user = get_user();
          if (user) {
            get_password(user);
          } else {
            alert('No user specified ! :/');
          }
        }

        $("#generate").on("click", function() {
          generate_password();
        });

        window.setInterval(function generate(){
            generate_password();
            return generate;
        }(), 30000);
      });
  </script>
{% endblock %}
