<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/logo-fav.png">
    <title>System Alive Checker{% if title %} - {{ title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/lib/material-design-icons/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }
        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }
        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>
<body class="be-animate">
    <div class="be-wrapper">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="page-title"><span>{{ page }}</span></div>
                <div class="be-right-navbar">
                    {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav float-right be-user-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="user-name">{{ current_user.username }}</span></a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><span class="icon mdi mdi-power"></span>Logout</a>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}"><span style="vertical-align: middle; margin-right: 10px;" class="icon mdi mdi-power"></span>Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">{{ page }}</a>
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">Menu</li>
                                <li {% if page=='Home' %}class="active" {% endif %}><a href="{{ url_for('main.index') }}"><i class="icon mdi mdi-chart"></i><span>Home</span></a></li>
                                <li {% if page=='Dashboard' %}class="active" {% endif %}><a href="{{ url_for('main.dashboard') }}"><i class="icon mdi mdi-book"></i><span>Dashboard</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="be-content">
            <div class="main-content container-fluid">
                {% block content %}
                {% endblock %}
           </div>
        </div>
    </div>
    <script src="/static/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>
{% block additional %}
{% endblock %}
</body>
</html>
