{% extends "base.html" %}
{% block content %}
                <section class="general"><p>{{ flag }}</p></section>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div id="ping-widget" class="widget widget-fullwidth">
                            <div class="widget-head">
                                <div class="tools">
                                    <a href="#" class="refresh" title="Refresh stats"><span class="icon mdi mdi-refresh-sync"></span></a>
                                    <a href="#" class="flush" title="Flush stats"><span class="icon mdi mdi-delete"></span></a>
                                </div>
                                <span class="title">Ping statistics</span>
                                <span class="description">Displays ping statistics for PLCs</span>
                            </div>
                            <div class="widget-chart-container">
                                <div id="ping-chart" style="height: 220px;"></div>
                                <div class="chart-table pt-2">
                                    <table id="ping-table" class="table card-table table-striped">
                                        <thead class="primary">
                                            <tr>
                                                <th>Host</th>
                                                <th class="number">Minimum</th>
                                                <th class="number">Maximum</th>
                                                <th class="number">Average</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="no-border-x"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="widget widget-fullwidth">
                            <div class="widget-head">
                                <span class="title">Add an additional host</span>
                                <span class="description"></span>
                            </div>
                            <div class="card-body">
                                <form id="add-host" method="POST" action="{{ url_for('main.dashboard') }}">
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <input id="hostname" required="required" placeholder="Host name" class="form-control mt-2 mb-2" type="text" name="hostname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-8">
                                            <input id="ip" required="required" placeholder="Host IP" class="form-control mt-2 mb-2" type="text" name="ip">
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                            <input value="Submit" class="btn btn-block btn-xl btn-primary mt-2 mb-2" type="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block additional %}
    <script src="/static/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/jquery.flot.time.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-flot/plugins/jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="/static/lib/chartjs/Chart.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            function render_ping_chart(placeholder, data) {
                var options = {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: {
                                colors: [
                                    {opacity: .1},
                                    {opacity: .1}
                                ]
                            }
                        },
                        points: {
                            show: true
                        },
                        shadowSize: 0
                    },
                    legend: {
                        show: true
                    },
                    grid: {
                        margin: {
                            left: 23,
                            right: 30,
                            top: 20,
                            botttom: 40
                        },
                        labelMargin: 15,
                        axisMargin: 4,
                        hoverable: true,
                        clickable: true,
                        tickColor: "rgba(0,0,0,0.15)",
                        borderWidth: 0
                    },
                    tooltip: {
                        show: true,
                        cssClass: "tooltip-chart",
                        element: {
                            position: 'point',
                            attach: ['top', 'center'],
                        },
                        content: "<div class=\"content-chart\"> <span> %s </span> <div class=\"label\"> <div class=\"label-x\"> %x </div> - <div class=\"label-y\"> %y.0ms </div> </div></div>",
                        xDateFormat: "%H:%M:%S",
                        defaultTheme: !1
                    },
                    colors: ["rgb(90, 149, 245)"],
                    xaxis: {
                        show: true,
                        autoscale: "exact",
                        position: "bottom",
                        mode: "time",
                        timeformat: "%m/%d/%Y %H:%M:%S",
                        timezone: "browser"
                    },
                    yaxis: {
                        ticks: 4,
                        tickSize: 15,
                        tickDecimals: 0
                    },
                }

                var plot = $.plot(placeholder, data, options);
            }

            function get_ping_stats(data) {
                table_data = []
                for (let i = 0; i < data.length; i++) {
                    var ping_results = [];
                    for (let j = 0; j < data[i].data.length; j++) {
                        ping_results.push(data[i].data[j][1]);
                    }
                    sum = ping_results.reduce(function(a, b) { return a + b; });
                    avg = sum / ping_results.length | 0;
                    table_data.push({name: data[i].label,min: Math.min(...ping_results), max: Math.max(...ping_results), avg: avg})
                }
                return table_data;
            }

            function render_ping_table(placeholder, data) {
                $(placeholder).empty();
                for (let i = 0; i < data.length; i++) {
                    $(placeholder).append(`<tr>
                                                <td class="ping_name">${data[i].name}</td>
                                                <td class="ping_min number">${data[i].min}ms</td>
                                                <td class="ping_max number">${data[i].max}ms</td>
                                                <td class="ping_avg number">${data[i].avg}ms</td>
                                                <td class="actions"><a class="icon delete" href="#"><i class="mdi mdi-delete"></i></a></td>
                                            </tr>`)
                }
            }

            function refresh_ping_stats() {
                $.getJSON('/stats', function(ping_data) {
                    var ping_stats = get_ping_stats(ping_data);
                    render_ping_chart("#ping-chart", ping_data);
                    render_ping_table("#ping-table > tbody", ping_stats);
                });
            }

            function flush_stats() {
                $.ajax({
                    url: `/stats`,
                    type: "DELETE"
                })
                .done(function (data, textStatus, jqXHR) {})
                .fail(function (jqXHR, textStatus, errorThrown) { alert(`Failed to flush stats.`); })
                .always(function (data, textStatus, jqXHR) { refresh_ping_stats(); });
            }

            $("#ping-widget .tools > a.refresh").on("click", function() {
                refresh_ping_stats();
            });

            $("#ping-widget .tools > a.flush").on("click", function() {
                if (confirm("Are you sure?")) {
                    flush_stats();
                }
            });

            $("form#add-host").on("submit", function(event) {
                form = this;
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize()
                })
                .done(function (data, textStatus, jqXHR) { form.reset(); })
                .fail(function (jqXHR, textStatus, errorThrown) { alert(`Failed to add new host.`); })
                .always(function (data, textStatus, jqXHR) { refresh_ping_stats(); });
                event.preventDefault();
            });

            $("#ping-table").on("click", "a.delete", function() {  // attach the event handler to the table to handle buttons not yet created.
                if (confirm("Are you sure?")) {
                    row = $(this).closest("tr");
                    hostname = row.find(".ping_name").first().text();
                    $.ajax({
                        url: `/stats/${hostname}`,
                        type: "DELETE"
                    })
                    .done(function (data, textStatus, jqXHR) { /* row.remove(); */ })
                    .fail(function (jqXHR, textStatus, errorThrown) { alert(`Failed to remove ${hostname} from hosts.`); })
                    .always(function (data, textStatus, jqXHR) { refresh_ping_stats(); });
                }
            });

            window.setInterval(function refresh(){
                refresh_ping_stats();
                return refresh;
            }(), 5000);
        });
    </script>
{% endblock %}
