{% extends "base.html" %}
{% block content %}
                <section id="general">
                    <h1>System Alive Checker</h1>
                    <p>This tool can be used to automate monitoring of your systems.</p>
                    <p>To use this tool, please consider <a href="/login">authenticating yourself</a>.</p>
                </section>
{% endblock %}