{% extends "base.html" %}
{% block content %}
                <div class="row">
                    <div class="offset-sm-0 offset-md-0 offset-lg-4 col-sm-12 col-md-12 col-lg-4">
                        <div class="widget widget-fullwidth">
                            <div class="widget-head">
                                <span class="title">Registration</span>
                                <span class="description">Create an account on the application</span>
                            </div>
                            <div class="card-body">
{% with messages = get_flashed_messages() %}
    {% if messages %}
                                <div class="alert alert-contrast alert-danger alert-dismissible" role="alert">
                                    <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
                                    <div class="message">
                                        <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close" aria-hidden="true"></span></button><p>{{ messages[0] }}</p>
                                    </div>
                                </div>
    {% endif %}
{% endwith %}
                                <form id="auth" method="POST" action="{{ url_for('auth.signup') }}">
                                    <div class="signup-form">
                                        <div class="form-group">
                                            <input class="form-control" required="required" name="username" type="text" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" required="required" name="password" type="password" placeholder="Password">
                                        </div>
                                        <div class="form-group row login-submit">
                                            <div class="col-6">
                                                <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-xl" type="submit">Login</a>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-primary btn-xl">Sign Up</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}