<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PLC 1 - Alarm controller</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-expand-xl navbar-light">
        <div class="navbar-header d-flex col">
          <a class="navbar-brand" href="#">PLC 1 - Alarm controller</a>
        </div>
        <div class="navbar-nav mr-auto" id="update-form">
        </div>
      </nav>
    </header>
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="text-muted pt-3">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>NorzhNuclea &copy;</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% block additional %}
    {% endblock %}
  </body>
</html>