{% extends "base.html" %}
{% block content %}
      <div class="main-content container px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <div style="background:transparent !important" class="jumbotron text-center vertical-center">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="panel panel-warning">
                          <div class="panel-heading">
                            <h2 class="panel-title">Alarm info</h2>
                          </div>                
                        </div>
                        <div class="row clearfix">
                          <div class="col-md-12 column">
                            <div class="list-group">
                              <div class="list-group-item" id="alarm-status">
                                <h4 class="list-group-item-heading">Alarm state</h4>
                                <p class="list-group-item-text">STATE</p>
                                <button type="button" class="btn btn-info" value="activate">Activate</button>
                              </div>
                              <div class="list-group-item" id="firmware-status">
                                <h4 class="list-group-item-heading">Firmware version</h4>
                                <p class="list-group-item-text">VERSION</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
{% endblock %}
{% block additional %}
    <script type="text/javascript">
      $(document).ready(function(){
        const CURRENT_VERSION = '0.1';

        function refresh_info() {
          get_alarm_state();
          $('#firmware-status > p').text(CURRENT_VERSION);
        }

        function get_alarm_state() {
          $.get('/alarm-state', function(state) {
            button = $('#alarm-status > button');
            $('#alarm-status > p').text(state);
            if (state == 'ON') {
              button
              .val('deactivate')
              .text('Deactivate');
            } else {
              button
              .val('activate')
              .text('Activate');
            }
          });
        }

        function check_version() {
          $.get('/check-version', function(version) {
            version_id = parseFloat(version);
            if (parseFloat(CURRENT_VERSION) < version_id) {
              render_update();
            }
          });
        }

        function update_firmware() {
          form = $('#update-form > form');
          $.ajax({
              url: '/update',
              type: form[0].method,
              data: form.serialize()
          })
          .done(function (data, textStatus, jqXHR) { alert(data); })
          .fail(function (jqXHR, textStatus, errorThrown) { alert(jqXHR.responseText); render_update(true); })
          .always(function (data, textStatus, jqXHR) {});
        }

        function render_update(custom_uri) {
          form_container = $('#update-form');
          if (custom_uri) {
            form_content = `<form action="/update" method="POST" class="form-inline mt-2 mt-md-0"><input class="form-control mr-sm-2" type="text" name="uri" placeholder="Update link"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update</button></form>`;
          } else {
            form_content = `<form action="/update" method="GET" class="form-inline mt-2 mt-md-0"><p class="my-2 my-sm-0 mr-2">An update is available</p><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update</button></form>`;
          }
          form_container.html(form_content);
        }

        $(document).on('submit', '#update-form > form', function(){
          update_firmware();
          return false;
        });

        $(document).on('click', '#alarm-status > button', function(){
          $.ajax({
              url: '/alarm-state',
              type: 'POST',
              data: `pin=${prompt('PIN code (4 digits)')}&state=${$('#alarm-status > button').val()}`
          })
          .done(function (data, textStatus, jqXHR) { get_alarm_state() })
          .fail(function (jqXHR, textStatus, errorThrown) { alert(jqXHR.responseText) })
          .always(function (data, textStatus, jqXHR) {});
          return false;
        });

        window.setInterval(function refresh(){
          refresh_info();
          return refresh;
        }(), 5000);

        check_version();
      });
    </script>
    <!--DEBUG: the following script is used to update the alarm status (should be removed in production)-->
    <!--
    from pymodbus.client.sync import ModbusTcpClient as ModbusClient
    
    from pymodbus.mei_message import ReadDeviceInformationRequest
    
    import logging
    import time
    
    FORMAT = ('%(asctime)-15s %(threadName)-15s '
              '%(levelname)-8s %(module)-15s:%(lineno)-8s %(message)s')
    logging.basicConfig(format=FORMAT)
    log = logging.getLogger()
    log.setLevel(logging.INFO)
    
    COUNT = 1  # number of bits/register to read
    SLAVE = 0x00  # slave id to read from
    REGISTER = 1  # register index
    ADDRESS = 0  # address to read on
    OFF_VALUE = 0  # relay off value
    ON_VALUE = 1  # relay on value
    
    def run_sync_client():
        with ModbusClient('127.0.0.1', port=5020) as client:
            rq = ReadDeviceInformationRequest(unit=SLAVE)
            rr = client.execute(rq)
            info = ' - '.join(list(map(lambda x: x.decode(), rr.information.values())))
            log.info(f'Server info: {info}')
    
            log.info(f'Switching on the relay...')
            rq = client.write_register(address=ADDRESS, value=ON_VALUE, unit=SLAVE)
            rr = client.read_holding_registers(address=ADDRESS, count=COUNT, unit=SLAVE)
            if rr.registers == [ON_VALUE]:
                log.info('Successfully switched on the relay!')
            else:
                log.error('Failed to switch on the relay...')
    
    if __name__ == "__main__":
        run_sync_client()
    -->
{% endblock %}
