<div class="jumbotron">
  <div class="container">
    <h1>Règlement</h1>
  </div>
</div>

<h3>Contexte</h3>

En tant qu'auditeur chez NorzhSec, vous avez été mandaté pour réaliser une mission d'audit dans la centrale nucléaire Norzh Nuclea.

<h3>Points d'entrée</h3>

Vous disposez de plusieurs points d'entrée initiaux&nbsp;:

 * le portique de sécurité de la centrale (RFID)&nbsp;;
 * l'extranet de l'entreprise.

Et deux autres, normalement débloqués après l'entrée sur site, mais accessible dès le début de la compétition pour des raisons de logistique&nbsp;:

 * l'intranet&nbsp;;
 * l'environnement Windows.

La découverte de ces environnements réseau et la résolution des challenges qui leur sont associés vous permettront d'avancer dans le scénario.

<h3>Challenges bonus</h3>

Les challenges bonus ne donnent accès à aucune information supplémentaire sur l'infrastructure, ils sont mis à disposition des joueurs souhaitant s'attaquer à des challenges complexes et externes à la centrale.

<h3>HTTPS</h3>

Certains challenges et applications disposent du service HTTPS (**celui-ci est facultatif**).

Pour y accéder, nous vous invitons à installer le certificat de notre autorité de certification privée en suivant la procédure indiquée [ici](http://files.norzh.nuclea).

<h3>Déblocage des challenges</h3>

L'évolution scénaristique vous donnera accès à de nouveaux challenges et à de nouveaux réseaux. Veillez à conserver des traces de vos découvertes&nbsp;!

<h3>Interdictions</h3>

Deux ranges d'IP ne doivent être ni scannés ni attaqués&nbsp;:

  * de `10.13.0.0` à `10.13.17.254`&nbsp;;
  * de `10.13.38.0` à `10.13.41.254`.

<h3>Challenges à choix multiples</h3>

Deux challenges disposent de deux méthodes de résolution&nbsp;:

 * Le challenge de bienvenue (RFID)&nbsp;;
 * Le challenge final du scénario (alarme).

Le choix d'une méthode de résolution entrainera le blocage de l'autre et inversement. Cette fonctionnalité n'ayant pas été implémentée sur CTFd, **seul le premier flag validé sera retenu**.

Lisez donc attentivement les consignes, le but de ces deux challenges est de tester votre "éthique" en vous laissant choisir entre un challenge simple, valant peu de points et ne respectant pas le contrat, et un challenge plus compliqué et respectant le contrat (pas d'utilisation de comptes de test, pas de suppression des données, pas de bruteforce sur des équipements industriels, etc.).
