<div class="row">
    <img class="w-100 mx-auto mb-14 d-block" src="/themes/aperi/static/img/home-logo.png" />
    <div class="col-md-6 offset-md-3 pt-5">
        <h1 class="text-center">
            Bienvenue sur le CTF du <a href="https://norzh-ctf.fr">Norzh</a>.
        </h1>

        <h3 class="text-center pt-1">
            Un événement organisé par l'<a href="https://www-ensibs.univ-ubs.fr">ENSIBS</a>.
        </h3>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-md-6 offset-md-3 pt-5">
        <h3 class="text-center pt-1">
            Une compétition sponsorisée par :
        </h3>
    </div>
</div>
<div class="mx-auto row pb-5">
        <div class="col-md-9 offset-md-1 d-flex justify-content-around pb-3">
            <a href="https://www.thalesgroup.com/" target="_blank"><img style="max-width: 200px;"
                    alt="Sponsor du Norzh CTF - La Ruche by Thales"
                    src="/themes/aperi/static/img/sponsor-thales.png" /></a>
            <a href="https://www.pole-excellence-cyber.org/" target="_blank"><img style="max-width: 200px;"
                    alt="Sponsor du Norzh CTF - Pôle Excellence Cyber"
                    src="/themes/aperi/static/img/sponsor-pec.png" /></a>
            <a href="https://www.airbus.com/" target="_blank"><img style="max-width: 200px;"
                    alt="Sponsor du Norzh CTF - Airbus Cybersecurity"
                    src="/themes/aperi/static/img/sponsor-airbus.png" /></a>
        </div>
        <div class="col-md-8 offset-md-2 d-flex justify-content-around">
            <a href="https://www.iutvannes.fr/" target="_blank"><img style="max-width: 200px;"
                    alt="Sponsor du Norzh CTF - IUT Vannes"
                    src="/themes/aperi/static/img/sponsor-iut-vannes.png" /></a>
            <a href="https://www.vipe-vannes.com/" target="_blank"><img style="max-width: 200px;"
                    alt="Sponsor du Norzh CTF - VIPE Vannes" src="/themes/aperi/static/img/sponsor-vipe.png" /></a>
        </div>
    </div>
</div>
