<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if title %}{{ title }} - {% endif %}NorzhNuclea</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-expand-xl navbar-light">
        <div class="navbar-header d-flex col">
          <a class="navbar-brand" href="#">Norzh<b>Nuclea</b></a>
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
          <ul class="nav navbar-nav navbar-right ml-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link">{{ current_user.username }}</span>
            </li>
            <li>
              <a class="btn btn-outline-primary mx-3" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          {% else %}
            <li>
              <a class="btn btn-outline-primary mx-3" href="{{ url_for('auth.login') }}">Login</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="text-muted pt-3">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>NorzhNuclea &copy; <a href="http://git.norzh.nuclea/intranet">v0.1</a></p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% block additional %}
    {% endblock %}
  </body>
</html>