{% extends "base.html" %}
{% block content %}
      <div class="cardbox py-5 bg-light">
          <div class="container">
            <h3 class="mb-3">Intranet panel</h3>
            <div class="row">
              <div class="col-md-4">
                <a href="https://passgen.norzh.nuclea/?user={{ current_user.username }}" style="color: inherit;">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/img/passgen.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Passgen</h3>
                      <p class="card-text">Generate a new password for your user account</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://www.norzh.nuclea/" style="color: inherit;">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/img/website.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Website</h3>
                      <p class="card-text">Read Norzh Nuclea's external communication</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="https://lab.norzh.nuclea/" style="color: inherit;">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/img/bug.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Bug</h3>
                      <p class="card-text">Send a bug report file to Forensic Lab</p>
                    </div>
                  </div>
                </a>
              </div>
            {% if current_user.role == 'blueteam' %}
              <div class="col-md-4">
                <a href="http://cam.blueteam.norzh.nuclea/" style="color: inherit;">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/img/camera.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Security camera</h3>
                      <p class="card-text">Monitor security camera</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
            {% if current_user.role == 'blueteam' or current_user.role == 'dev' %}
              <div class="col-md-4">
                <a href="https://git.norzh.nuclea/" style="color: inherit;">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/img/git.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Git</h3>
                      <p class="card-text">Access the source code of Norzh Nuclea's projects</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
{% endblock %}
