<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if title %}{{ title }} - {% endif %}NorzhNuclea</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <a class="navbar-brand text-muted my-4" href="#"><i class="fa fa-cube"></i>Norzh<b>Nuclea</b></a>
                    <h3 class="login-heading mb-4">Intranet login page</h3>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <div class="alert alert-contrast alert-danger alert-dismissible" role="alert">{{ messages[0] }}</div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('auth.login') }}">
                      <div class="form-label-group">
                        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                        <label for="inputUsername">Username</label>
                      </div>
                      <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Login CSS -->
    <link href="/static/css/login.css" rel="stylesheet">
  </body>
</html>
