<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/logo-fav.png">
    <title>IP Camera</title>
    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
</head>
<body>
{% block content %}
{% endblock %}
{% block additional %}
{% endblock %}
</body>
</html>
