{% extends "base.html" %}
{% block content %}
    <h1 class="header">IP Camera</h1>
    <p>If no video appear below, check if you have javascript enabled.</p>
    <noscript><p>Scripts are not supported in your browser</p></noscript>
    <div>
      <img id="img" src="">
    </div>
{% endblock %}
{% block additional %}
    <script src="/static/lib/mqttws/mqttws31.js" type="text/javascript"></script>
    <script>
      var client, topic;

      function mqtt_connect() {
          // Generate a random client ID
          var client_id = "clientID_" + parseInt(Math.random() * 100);
          var port = {{vars["MQTT_BROKER_PORT"]}};
          var host = "{{vars["MQTT_BROKER_HOST"]}}.blueteam.norzh.nuclea";
          var uri = `ws://${host}:${port}/mqtt`;
          topic = "{{vars["MQTT_TOPIC"]}}";

          // Initialize new Paho client connection
          client = new Paho.MQTT.Client(uri, client_id);

          // Set callback handlers
          client.onConnectionLost = onConnectionLost;
          client.onMessageArrived = onMessageArrived;

          // Connect the client, if successful, call onConnect function
          client.connect({
              onSuccess: onConnect,
              onFailure: function(){console.log(`Connection to: ${host} on port: ${port} failed.`)}
          });
      }

      function onConnectionLost(responseObject) {
          if (responseObject.errorCode !== 0) {
              console.log(`Connection lost: ${responseObject.errorMessage}`);
          }
      };

      function onMessageArrived(message) {
          document.querySelector("#img").src = message.payloadString;
      };

      function onConnect() {
          console.log(`Subscribing to: ${topic}`);

          client.subscribe(topic);
      }

      mqtt_connect();
    </script>
{% endblock %}
